.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

input {
  padding: 10px;
  margin: 10px;
  width: 60%;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.password-result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.password-result p {
  font-size: 16px;
  margin-top: 10px;
}

.password-result .weak {
  color: #ff0000; /* Red for Weak */
}

.password-result .medium {
  color: #ff8000; /* Orange for Medium */
}

.password-result .strong {
  color: #00ff00; /* Green for Strong */
}
